@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/impact');
@import url('https://fonts.cdnfonts.com/css/codec-pro');

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
   overflow-x: hidden; /* Evita el scroll horizontal */
}

#principal {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('/espalda.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130% 100%;
}

#section2 {
  background-image: url('../public/Fondo_Gym.png');
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

}

#section3 {
  background-image: url('../public/Fondo_Gym.png');
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

}

#section4 {
  background-image: url('../public/Fondo-que-ofrecemos.png');
  margin: 0;
  padding: 0;
  background-size: 120% 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

}

#section5 {
  background-image: url('../public/Planes.png');
  margin: 0;
  padding: 0;
  background-size: 120% 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

}

#titulo{ 
   font-family: Impact, sans-serif;
   letter-spacing: 0px;
   word-spacing: 0px;
   color: #ff0000;
   font-size: 62px /* 3.75rem = 60px */;

}

#subtitulo{
   font-family: 'Codec Pro', sans-serif;
   letter-spacing: 7px;
   color: #ffffff;
   margin-top: -1rem;
}

#titulo2{ 
   font-family: Impact, sans-serif;
   letter-spacing: 0px;
   word-spacing: 0px;
   color: #ff0000;
   font-size: 62px /* 3.75rem = 60px */;

}

#subtitulo2{
   font-family: 'Codec Pro', sans-serif;
   letter-spacing: 2px;
   color: #ffffff;
   margin-top: -1rem;
}

#titulo4{ 
   font-family: Impact, sans-serif;
   letter-spacing: 0px;
   word-spacing: 0px;
   color: #ff0000;
   font-size: 3rem /* 3.75rem = 60px */;

}

#subtitulo4{
   font-family: 'Codec Pro', sans-serif;
   letter-spacing: 2px;
   color: #ffffff;
   margin-top: -1rem;
   font-size: 0.8rem /* 24px */;
}

#titulo5{ 
   font-family: Impact, sans-serif;
   letter-spacing: 0px;
   word-spacing: 0px;
   color: #ff0000;
   font-size: 3rem /* 3.75rem = 60px */;

}

#subtitulo5{
   font-family: 'Codec Pro', sans-serif;
   letter-spacing: 2px;
   color: #ffffff;
   margin-top: -1rem;
   font-size: 0.8rem /* 24px */;
}

#descripcion{
   font-family: 'Codec Pro', sans-serif;
   font-size: 1rem /* 16px */;
   color: #ffffff;
   margin-top: 1rem;
   margin-left: 0rem;
   margin-right: 0rem;
   padding: 0.5rem;
}

.titulo-cards{
   font-family: Impact, sans-serif;
   letter-spacing: 0px;
   color: #ff5f03;
   font-size: 1.2rem; /* 32px */;
}

#entrenadores {
  background-image: url('../public/Fakas.png');
  background-size: 100% ;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Codec Pro', sans-serif;
  font-size: 1rem; /* 16px */
  color: #ffffff;
}

#tarjeta1{
  background-image: url('../public/Faka1.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Codec Pro', sans-serif;
  font-size: 0.6rem; /* 16px */
  color: #ffffff;
}

#tarjeta2{
  background-image: url('../public/faka2.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Codec Pro', sans-serif;
  font-size: 0.6rem; /* 16px */
  color: #ffffff;
}
#frase{
  font-family: Impact, sans-serif;
  letter-spacing: 2px;
  color: #ff5f03;
  margin-top: 0rem;
  margin-left: 0rem;
}

#comenzar{
    font-family: 'Codec Pro', sans-serif;
    font-size: 1rem /* 16px */;
    background-color: #ff5f03;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.375rem; /* Bordes redondeados */
    cursor: pointer;
    margin-top: 1rem;
}


#lista{
   font-family: 'Codec Pro', sans-serif;
   font-size: 0.65rem /* 8px */;
   margin-left: 0.7rem /* 16px */;
   color: #ffffff;
}

#boxMenu{
   background-color:#dd9c19;
   border-radius: 0.375rem; /* Bordes redondeados */
   backdrop-filter: blur(10px); /* Efecto de desenfoque */
   -webkit-backdrop-filter: blur(10px); /* Compatibilidad con Safari */
}

#botonMenu{
   background-color:#dd9c19;
}

.clip-left {
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

.clip-right {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.glitch-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.glitch {
   position: relative;
   font-size: 50px;
   font-weight: bold;
   color: #FFFFFF;
   letter-spacing: 3px;
   z-index: 1;
}

.glitch:before,
.glitch:after {
   display: block;
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0.8;
}

.glitch:before {
   animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
   color: #00FFFF;
   z-index: -1;
}

.glitch:after {
   animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
   color: #FF00FF;
   z-index: -2;
}

@keyframes glitch-it {
   0% {
      transform: translate(0);
   }
   20% {
      transform: translate(-2px, 2px);
   }
   40% {
      transform: translate(-2px, -2px);
   }
   60% {
      transform: translate(2px, 2px);
   }
   80% {
      transform: translate(2px, -2px);
   }
   to {
      transform: translate(0);
   }
}